body {
  background: black; }

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.up-circle {
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #5f5e5e;
  -webkit-animation: spin3 5s linear infinite;
  animation: spin3 3s alternate-reverse infinite;
  border-bottom-color: #3b3a3a;
  border-right-color: #3b3a3a;
  border-left-color: #3b3a3a; }

.cm-spinner::before,
.cm-spinner::after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border-radius: 50%;
  border: 4px solid transparent; }

.logo__1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px; }

img {
  width: 100%;
  height: 100%; }

.cm-spinner::before {
  border-top-color: #ffa600;
  -webkit-animation: 2s spin2 reverse infinite;
  animation: 2s spin2 reverse infinite;
  z-index: 10 !important; }

.cm-spinner::after {
  border-top-color: #ffa600;
  -webkit-animation: spin 1.8s reverse infinite;
  animation: spin 1.8 linear infinite;
  border-bottom-color: rgba(92, 90, 90, 0.623);
  border-right-color: rgba(92, 90, 90, 0.623);
  border-left-color: rgba(92, 90, 90, 0.623); }

.box {
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #5f5e5e;
  -webkit-animation: spin3 5s linear infinite;
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  animation: spin3 4s alternate-reverse infinite;
  border-bottom-color: #3b3a3a;
  border-right-color: #3b3a3a;
  border-left-color: #3b3a3a; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin2 {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(20deg); }
  50% {
    transform: rotate(-40deg); }
  75% {
    transform: rotate(60deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg); }
  75% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
    opacity: 0.1; }
  50% {
    transform: rotate(-50deg);
    opacity: 1; }
  75% {
    transform: rotate(60deg);
    opacity: 0.6; }
  100% {
    transform: rotate(360deg);
    opacity: 0.1; } }

@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.1; }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    opacity: 1; }
  75% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    opacity: 0.6; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.1; } }
